/*
Error: File to import not found or unreadable: ../valo/valo.scss.
       Load path: /home/shantanu/Documents/STS_WEB_PROJECTS/STS_WEB/VSmart/inventory-admission-erp/IAMSApp/src/main/webapp/VAADIN/themes/apptheme
        on line 37 of /home/shantanu/Documents/STS_WEB_PROJECTS/STS_WEB/VSmart/inventory-admission-erp/IAMSApp/src/main/webapp/VAADIN/themes/apptheme/apptheme.scss

32: 
33: // Background gradient and image used for the menu, false disables
34: $app-background-gradient: unquote("linear-gradient(145deg, #484962 30%, #d06b41 100%)");
35: $app-background-image: url('bg.jpg');
36: 
37: @import '../valo/valo.scss';
38: @import 'ordersgrid';
39: @import 'ordersview';
40: @import 'headerfooternavmenu';
41: @import 'animations';
42: @import 'utils';

Backtrace:
/home/shantanu/Documents/STS_WEB_PROJECTS/STS_WEB/VSmart/inventory-admission-erp/IAMSApp/src/main/webapp/VAADIN/themes/apptheme/apptheme.scss:37
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/import_node.rb:67:in `rescue in import'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/import_node.rb:45:in `import'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/import_node.rb:28:in `imported_file'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/import_node.rb:37:in `css_import?'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:314:in `visit_import'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
/usr/share/koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
/usr/share/koala/bin/sass:22:in `load'
/usr/share/koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: ../valo/valo.scss.\A        Load path: /home/shantanu/Documents/STS_WEB_PROJECTS/STS_WEB/VSmart/inventory-admission-erp/IAMSApp/src/main/webapp/VAADIN/themes/apptheme\A         on line 37 of /home/shantanu/Documents/STS_WEB_PROJECTS/STS_WEB/VSmart/inventory-admission-erp/IAMSApp/src/main/webapp/VAADIN/themes/apptheme/apptheme.scss\A \A 32: \A 33: // Background gradient and image used for the menu, false disables\A 34: $app-background-gradient: unquote(\"linear-gradient(145deg, #484962 30%, #d06b41 100%)\");\A 35: $app-background-image: url('bg.jpg');\A 36: \A 37: @import '../valo/valo.scss';\A 38: @import 'ordersgrid';\A 39: @import 'ordersview';\A 40: @import 'headerfooternavmenu';\A 41: @import 'animations';\A 42: @import 'utils';"; }
