@{
    ViewBag.Title = "Apache";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="abc">
            <img src="~/Image/Apache Rtr/tvs-apache-rtr-160-red-1486702387974.jpg" alt="">
            <h3>Apache-RTR</h3>
            <p>
                TVs Apache-RTR-160</br>
                Color:Red;
            </p>
        </div>
        <div class="abc">
            <img src="~/Image/Apache Rtr/tvs-apache-rtr-160-black-1486702399383.jpg" alt="">
            <h3>Apache-RTR</h3>
            <p>
                Rtr/tvs-apache-rtr-160-black</br>
                Color:black;
            </p>
        </div>
        <div class="abc">
            <img src="~/Image/Apache Rtr/tvs-apache-rtr-160-yellow-1486702444422.jpg" alt="">
            <h3 class="articleTitle">Apache-RTR</h3>
            <p class="articleDesc">
                Rtr/tvs-apache-rtr-160-yellow</br>
                Color:Yellow;
            </p>
        </div>

        <div class="abc">
            <img src="~/Image/Apache Rtr/tvs-apachertr160.jpg" alt="">
            <h3 class="articleTitle">Apache-RTR</h3>
            <p class="articleDesc">
                Rtr/tvs-apachertr160
                
            </p>
        </div>

    </div>
</body>
</html>
